.post {
    margin: 0 50px 30px 50px;
    border: 1px solid blueviolet;
    padding: 10px;
}

.post > .post-header {
    display: grid;
    grid-template-columns: 50px 1fr 30px;
    gap: 15px;
}

.post > .post-header > .avatar {
        width: 100%;
}

.big-size {
    font-size: 32px;
    line-height: 32px;
}

.more {
    color: cornflowerblue;
    cursor: pointer;
}

.more:hover {

    text-decoration: underline;
}
