.post {
    margin: 0 50px 30px 50px;
    border: 1px solid blueviolet;
}

.post>.post-header {
    display: grid;
    grid-template-columns: 50px 1fr 30px;
    gap: 15px;
    padding: 10px;
}

.post>.post-header>.avatar {
    width: 100%;
}

.post>.content>p {
    padding: 10px;
}

.post>.content>p.big-size {
    font-size: 32px;
    line-height: 32px;
}

.post >.content > p.background {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 240px;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
}

.post> .content> p.red {
    background-color: red;
}

.post> .content> p.orange {
    background-color: sandybrown;
}

.post>.content>p.hidden {
    display: none;
}

.post>.content.show>p {
    display: none;
}

.post>.content.show>p.hidden {
    display: inline-block;
}

.post>.content>p>.more, .less {
    color: cornflowerblue;
    cursor: pointer;
}

.post>.content>p>.more:hover, .less:hover {
    text-decoration: underline;
}

.post .gallery {
    display: inline-block;
    width: 100%;
    height: 300px;
}

.post .gallery .img {
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.post .gallery .img img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.post .gallery.gallery-2 {
    height: 360px;
}

.post .gallery.gallery-2 .img {
    width: 50%;
}

.post .gallery.gallery-3 {
    height: 400px;
}

.post .gallery.gallery-3 .img {
    width: 50%;
    height: 50%;
}

.post .gallery.gallery-3 .img:first-of-type {
    width: 100%;
    /* height: 50%; */
}

.post .gallery.gallery-4 {
    height: 440px;
}

.post .gallery.gallery-4 .img {
    width: 50%;
    height: calc(100% / 3);
}

.post .gallery.gallery-4 .img:first-of-type {
    height: 100%;
}

.post .gallery .img[data-extra]::before {
    content: '+'attr(data-extra);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #000c;
    position: absolute;
    text-align: center;
    line-height: 147px;
    font-size: 40px;
}

.post>footer {
    padding: 10px;
}